<html>
  <head>
    <title>[% template.title or "nCritic as microservice" %]</title>
  </head>
  <body>
	<div id="content">
	  [%# Status and error messages %]
	  <span class="message">[% status_msg %]</span>
	  <span class="error">[% error_msg %]</span>
	  [%# This is where TT will stick all of your template's contents. -%]
	  [% content %]
	</div><!-- end content -->
 	</body>
</html>
