[% META title = 'Collation HTML Result'
        service = 'Collation' -%]
	<table>
[% FOREACH witrow IN alignment -%]
		<tr>
			<th>[% witrow.witness %] ([% witrow.identifier %])</th>
[%   FOREACH word IN witrow.tokens -%]
[%     IF word.t.is_lacuna -%]
		<td>*</td>
[%     ELSIF word.t -%]
    	<td>[% word.t.text %]</td>
[%     ELSE -%]
			<td/>
[%     END -%]
[%   END -%]
     </tr>
[% END -%]
   </table>

