<html>
  <head>
    <title>[% template.title or "nCritic" %]</title>
    <link rel="icon" type="image/png" href="[% c.uri_for('/static/images/ncritic_icon_004.png') %]" />
    <link rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" />
    [% INCLUDE extrastyle %]
    [% INCLUDE extrajs %]
  </head>

  <body>
  <div id="logo"></div>
  <div class="header">Welcome to the nCritic text criticism tools</div>
  <div id="error_console"><span class="error">[% error_msg %]</span></div>
  <div id="dialog" title="Help"></div>
  
  <div id="bodyblock">
	<div id="menu_header_gutter"></div>
    <div id="menu_header"></div>
	<div id="menu">
	  <ul>
        <li><a href="[% c.uri_for('/') %]" title="ncritic Services">Home</a></li>
        <li><a href="[% c.uri_for('doc') %]" title="Instructions">Instructions for use</a></li>
        <!-- TODO add specific menu options for microservices -->    
        <li><a href="http://www.interedition.eu/">Interedition</a></li>
	  </ul>
	</div><!-- end menu -->

	<div id="content">
	  [% content %]
	</div><!-- end content -->
  </div><!-- end bodyblock -->

  <div id="footer"><small>© 2014, Tara L Andrews</small></div>
  </body>
</html>
