#header {
    text-align: center;
}
#header h1 {
    margin: 0;
}
#header img {
    float: right;
}
#footer {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}
#menu {
    position: relative;
    top: -5px;
    background-color: #f4448a;
}
#menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 8px 10px 50% 12px;
    font-weight: normal;
    background-color: #f4448a;
    width: 100px;
}
#menu ul a {
    color: #2c5183;
}
#menu ul a:hover {
    color: #cadef8;
}
#menu ul li {
    list-style-image:url("../images/arrow_002.gif");
}
#content {
    margin-left: 120px;
    position: relative;
    top: -50px;
}
.message {
    color: #390;
}
.error {
    color: #f00;
}
#form textarea {
    height: 30;
    width: 100;
}
