@charset "utf-8";
/* CSS Document */

#witness_container {
	background-color: #fafafa;
	overflow: scroll;
}
#witdescription {
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 20px;
}
#sourcetext {
	margin-left: 150px;
	margin-top: 40px;
}
#transcriptionform {
	width: 600px;
}
.ui-accordion .ui-accordion-header {
	padding-left: 22px;
	font-size: 16px;
}
.section {
	float: left;
	position: relative; left: -30px;
}
p {
	line-height: 150%;
	text-indent: 15px;
}
p.followpg {
	text-indent: 0px;
}
table.pagecolumn td.left {
	vertical-align: bottom;
	width: 350px;
}
table.pagecolumn td.right {
	vertical-align: top;
	width: 350px;
}
.displaysigil {
	font-style: italic;
	font-size: 40px;
}
.displaywitid {
	font-size: 30px;
	padding-left: 80px;
}
.texttitle {
	font-style: italic;
}
.textauthor {
	font-style: italic;
}
.number, .expansion {
	text-decoration: overline;
}
.expansion {
	font-style: italic;
}
.pagenum {
	border-top: 1px solid #111111;
	border-left: 1px solid #111111;
	border-style: solid;
	margin: 10px;
	padding: 10px;
	width: 400px;
}
.highlight {
	color: #dd0000;
	font-size: 150%;
}
.addition {
	color: #00dd00;
}
.deletion {
	text-decoration: line-through;
}
.supplied {
	opacity: 0.7;
}
.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    font-size: 12px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}